<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>个人信息</h3>
    <div>
        {{ init_dict.User.NickName }}
        <img src="/avatar?k={{ init_dict.User.HeadImgUrl }}">


    </div>
    <h3>常用联系人列表</h3>
    <ul>
        {% for item in init_dict.ContactList %}
            <li>
               <img src="/avatar?k={{ item.HeadImgUrl }}">
                {{ item.NickName }}
            </li>
        {% endfor %}
        <li><a href="/contact_list.html">查看所有联系人</a></li>
    </ul>

</body>
</html>